<%-include('../user/layout/user-header-layout.ejs') -%>


<% if (usercart.cart.length == 0) { %>
    <div class>
      <img src="https://ibellstore.com/images/no-item-found-here.png" alt="no order" style="width: 400px; height:300px ;">
    </div>
    <% } else { %>

<section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            <% usercart.cart.forEach(function(x) { %>
              <tr id="productRow_<%=x.product._id%>">
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="/images/products/<%= x.product.images[0] %>" alt="" />
                    </div>
                    <div class="media-body">
                      <p><%=x.product.productName%></p>
                    </div>
                  </div>
                </td>
                <td>
                <h5 id="price_<%=x.product._id%>"><%=x.product.price%></h5>
                </td>
                <td>
                  <div class="product_count">
                    
                    <span class="input-number-decrement" onclick="changeCount('<%=x.product._id%>','sub')"> <i class="ti-minus" ></i></span>
                    <input class="input-number" min="0" max="10" type="number" value="<%=x.quantity%>" id="quantity_<%=x.product._id%>" disabled>
                    <span class="input-number-increment" onclick="changeCount('<%=x.product._id%>','add')"> <i class="ti-plus" ></i></span>
                  </div>
                </td>
                <td>
                  <h5 id="subtotel_<%=x.product._id%>" class="newprice"><%=x.quantity%>*<%=x.product.price%> = <%=x.product.newprice%></h5>
                </td>
                <td>
                    <form action="/removeCart?product=<%=x.product._id%>" method="post">
                     <button class="btn btn-danger" onclick="removeCart(event,'<%=x.product.productName%>')" type="submit">remove</button>
                    </form>
                  </td>
              </tr>
              <% }) %>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5 id="totelprice"><%=usercart.totel%></h5>
                </td>
              </tr>
                <!-- <tr class="shipping_area">
                <td></td>
                <td></td>
                <td>
                  <h5>Shipping</h5>
                </td>
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                      <li>
                        Flat Rate: $5.00
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                      <li>
                        Free Shipping
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                      <li>
                        Flat Rate: $10.00
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                      <li class="active">
                        Local Delivery: $2.00
                        <input type="radio" aria-label="Radio button for following text input">
                      </li>
                    </ul>
                    <h6>
                      Calculate Shipping
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </h6>
                    <select class="shipping_select">
                      <option value="1">Bangladesh</option>
                      <option value="2">India</option>
                      <option value="4">Pakistan</option>
                    </select>
                    <select class="shipping_select section_bg">
                      <option value="1">Select a State</option>
                      <option value="2">Select a State</option>
                      <option value="4">Select a State</option>
                    </select>
                    <input class="post_code" type="text" placeholder="Postcode/Zipcode" />
                    <a class="btn_1" href="#">Update Details</a>
                  </div>
                </td>
              </tr>  -->
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <!-- <a class="btn_1" href="#">Continue Shopping</a> -->
            <form action="/cheackout">
            <button class="btn_1 checkout_btn_1" type="submit">Proceed to checkout</button>
          </form>
          </div>
        </div>
      </div>
      <% } %>

  </section>

  <script>

    async function changeCount(id,action){
     try{
     //cheack value and action
     if(document.getElementById(`quantity_${id}`).value>1&&action=='sub'){
       let res= await fetch(`/cartInc?product=${id}&action=${action}`)
       if(res.ok){
        alert('response is ok')
       }
       else{
        console.error('Network error:', res.status, res.statusText);

       }
       res = await res.json()

      if(!res.err){
         
        document.getElementById(`quantity_${id}`).value=parseInt(document.getElementById(`quantity_${id}`).value)-1

        change()



      }
      
}
       //remove item from cart after try to decrease one
       else if(document.getElementById(`quantity_${id}`).value<=1&&action=='sub'){
         const res=await Swal.fire({
                   icon: 'error',
                   title: 'no',
                   text: "quantity must keep 1"
                 })
           //    console.log(res);
        
       }
       //cheak value and action
      else if(document.getElementById(`quantity_${id}`).value>=10&&action=='add'){
       Swal.fire({
                   icon: 'error',
                   title: 'Sorry...',
                   text: "you can buy only 10"
                 })
      }
 
      else if(document.getElementById(`quantity_${id}`).value<10&&action=='add'){
       let res= await fetch(`/cartInc?product=${id}&action=${action}`)
        res = await res.json()
        if(!res.err){
          
          document.getElementById(`quantity_${id}`).value=parseInt(document.getElementById(`quantity_${id}`).value)+1
         change()



        }

       
      }
       function change(){
         //
      let quantity=parseInt( document.getElementById(`quantity_${id}`).value)
        let price=parseFloat(document.getElementById(`price_${id}`).innerHTML)
        let subtotel=quantity*price
      document.getElementById(`subtotel_${id}`).innerHTML=`${quantity}x${price}=${subtotel}`
      //
      const tdelemts=document.getElementsByClassName('newprice')
      let sum=0
      console.log(tdelemts)
      for(i=0;i<tdelemts.length;i++){
       const tdcondent=tdelemts[i].textContent;
       const newprice=parseFloat(tdcondent.split('=')[1].trim())
       sum=sum+newprice
      }
   document.getElementById("totelprice").innerHTML=`${sum}`
    }}
    catch(err){
      alert(err.message)
    }
   }   
        
 
      
     
       
 
       async function removeCart(event,name){
         console.log(event)
         event.preventDefault();
         console.log(event)
        const result=await Swal.fire({
         title: 'Are you sure?',
           text: `You want to remove the ${name}`,
           icon: 'warning',
           showCancelButton: true,
           confirmButtonColor: '#3085d6',
           cancelButtonColor: '#d33',
           confirmButtonText: 'Yes, remove it!'})
              
           if(result.isConfirmed){
             
          event.target.form.submit()        
             
           }
           
       }
       
     
       
       
     
 
     
   </script>
 
  <%-include('../user/layout/user-footer-layout.ejs') -%>