

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-commerce Shop</title>
	<style>
        .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}



.product-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.product {
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

.product img {
	max-width: 100%;
	margin-bottom: 20px;
}

.product h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.product p {
	font-size: 16px;
	margin-bottom: 20px;
}

.product h3 {
	padding: auto;
	color: #424141;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.pagination a {
	padding: 10px;
	margin-right: 10px;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}

.pagination a:hover {
	background-color: #666;
}

    </style>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Orderd products</h1>
			
		</div>
		
		<div class="product-list">
            <% orderdProducts.forEach(function(x) { %>
            <div class="product">
				<img src="/images/products/<%=x.product.images[0]%> " alt="Product 3">
				<h2><%=x.product.productName%></h2>
				<p>price:<%=x.product.price%></p>
			  <h3>quantity:<%=x.quantity%></h3>
			  <button onclick="showForm('<%=x.product._id%>','<%=x._id%>')">add review</button>
			</div>
            <% }) %>
		</div>
		<div style="display: none;" id="reviewForm">
			<form action="/review" method="post" id="newform">
				<div id="err" style="color: red;"></div>
				<label>rating</label><br>
				<input type="text" name="rating" required><br>
				<div id="ratingerr" style="color: red;"></div>
				<label>review</label><br>
				<input type="text" name="review" required><br>
				<button type="button" onclick="hideForm()">cancel</button>
				<button type="submit">submit</button>
			</form>
		   </div>
	</div>
</body>
<script>
	let productid=undefined
	let orderid=undefined
	function showForm(Productid,Orderid){
		console.log(Orderid)
		 productid=Productid
		 orderid=Orderid
	document.getElementById('reviewForm').style.display='flex'}

	let reviewForm=document.getElementById('newform')
	reviewForm.addEventListener('submit',async function(e){
		e.preventDefault();
		let ratingErr=document.getElementById('ratingerr')
		let err=document.getElementById('err')
		ratingErr.innerHTML=""
		err.innerHTML=""
		let formdata=new FormData(reviewForm)
		let review=formdata.get("review")
		let rating=formdata.get("rating")
		let res=await fetch(`/review?productid=${productid}&orderid=${orderid}&review=${review}&rating=${rating}`,{method:'POST'})
		let data=await res.json()
		console.log(data)
	   if(data.created){
		alert('review added')
	   }
	   if(data.ratingErr){
         ratingErr.innerHTML=data.ratingErr
	   }
	   if(data.err){
		err.innerHTML=data.err
	   }

	})

	function hideForm(){
		productid=undefined
		orderid=undefined
		document.getElementById('reviewForm').style.display='none'
	}
</script>
</html>
