<%-include('../user/layout/user-header-layout.ejs') -%>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/user/product details/css/util.css">
<link rel="stylesheet" type="text/css" href="/user/product details/css/main.css">


<!--===============================================================================================-->


<style>
    /* .image-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-image {
  width: 70%;
  display: flex;
  justify-content: center;
}

.main-image img {
  max-width: 100%;
}

.thumbnail-images {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 25%;
  cursor: pointer;
  margin: 5px;
}

.thumbnail.active {
  border: 2px solid blue;
} */
.image-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-image {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  max-width: 100%;
  max-height: 100%;
}

.thumbnail-images {
  width: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* changed from 'center' */
}

.thumbnail {
  width: 100%; /* width same as before */
  height: auto; /* added for proportional height */
  cursor: pointer;
  margin: 5px 0; /* added vertical margin */
}

.thumbnail.active {
  border: 2px solid blue;
}

.img-zoom-container {
  position: relative;
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}
.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 600px;
  height: 300px;
  /* display: none; */

}



</style>


<div class="image-gallery">
    <div class="main-image img-zoom-container ">
      <!-- <img id="myimage" src="/images/products/<%= product.images[0] %>" onmouseenter='imageZoom("myimage", "myresult")'  alt="Main Image"> -->
      <img id="myimage" src="/images/products/<%= product.images[0] %>" class="big_img"  alt="Main Image">
    </div>
    <div id="myresult" class="img-zoom-result"></div>
    <div class="thumbnail-images">
      <% product.images.forEach((x)=> { %>
      <img src="/images/products/<%=x%>" alt="Thumbnail Image 1" class="thumbnail">
      <% }) %>
    </div>
  </div>

  <section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
<!-- details -->
  <div class="col-md-6 col-lg-5 p-b-30">
    <div class="p-r-50 p-t-5 p-lr-0-lg">
      <h4 class="mtext-105 cl2 js-name-detail p-b-14">
        <%=product.productName%>
      </h4>

      <span class="mtext-106 cl2">
      RS: <%=product.price%>
      </span>

      
      
      <!--  -->
      <div class="p-t-33">
        <div class="flex-w flex-r-m p-b-10">
          <div class="size-204 flex-w flex-m respon6-next">
            <form action="/addCart?q=<%=product._id%>" method="post" onsubmit="addCart(event,'<%=product._id%>')">
            <button class="btn-success bor1 size-101 m-b-10" type="submit">
              Add to cart
            </button>
            </form>
            <form action="/addToWishlist?q=<%=product._id%>  " method="post" onsubmit="addWishList(event,'<%=product._id%>')">
            <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" type="submit">
              Add to wishlist
            </button>
            </form>
          </div>
        </div>	
      </div>
      
      <!--  -->
      
    </div>
  </div>
<!-- revew -->
<div class="bor10 m-t-50 p-t-43 p-b-40">
  <!-- Tab01 -->
  <div class="tab01">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item p-b-10">
        <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
      </li>

      <li class="nav-item p-b-10">
        <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
      </li>

      <li class="nav-item p-b-10">
        <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (<%=review.length%>)</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content p-t-43">
      <!-- - -->
      <div class="tab-pane fade show active" id="description" role="tabpanel">
        
         <!-- <div class="how-pos2 p-lr-15-md">
          <p class="stext-102 cl6">
          <%=product.description%>
          </p>
        </div> 
      </div>
 -->
      <!-- - -->
      <div class="tab-pane fade" id="information" role="tabpanel">
        <div class="row">
          <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
            <ul class="p-lr-28 p-lr-15-sm">
              <%product.highlights.forEach((x)=> { %>
              
                <li>
                  <%=x%>
                
              </li>
              <% }) %>
              
              
            </ul>
          </div>
        </div>
      </div>

      <!-- - -->
      <div class="tab-pane fade" id="reviews" role="tabpanel">
        <div class="row">
          <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
            <div class="p-b-30 m-lr-15-sm">
              <!-- Review -->
              
              <div class="flex-w flex-t p-b-68">
                <% review.forEach(function(x) { %>
                <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
                  <img src="/images/userprofile/<%x.user.profile%>" alt="AVATAR">
                </div>

                <div class="size-207">
                  <div class="flex-w flex-sb-m p-b-17">
                    <span class="mtext-107 cl2 p-r-20">
                      <%=x.user.username%>
                    </span>

                    <span class="fs-18 cl11" style="color: blueviolet;">
                     <%= x.rating%>/5
                    </span>
                  </div>

                  <p class="stext-102 cl6">
                   <%= x.review%>
                  </p>
                </div>
                <% }) %>
              </div>
              
              <!--review form -->
              <form class="w-full"  method="post" id="reviewform" onsubmit="addreview(event)">
                <h5 class="mtext-108 cl2 p-b-7">
                  Add a review
                </h5>
                  
                </div>

                <div class="row p-b-25">
                  <div class="col-12 p-b-5">
                    <label class="stext-102 cl3" for="review">Your review</label>
                    <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" name="review"></textarea>
                  </div>

                  
                  <div class="col-sm-6 p-b-5">
                    <label class="stext-102 cl3" for="email">Your Rating</label>
                    <input class="size-111 bor8 stext-102 cl2 p-lr-20" id="email" type="text" name="rating">
                  </div>
                </div>

                <button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10" type="submit">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>

  
<script src="/user/product details/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/user/product details/vendor/bootstrap/js/popper.js"></script>
<script src="/user/product details/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/user/imageZoom/js/zoomsl.js"></script>

  <script>
    $(document).ready(function(){
		$('.big_img').imagezoomsl({
			zoomrange:[6,6]
		})
	})

  </script>


<script>
 async function addreview(event){
  event.preventDefault()
 let form= document.getElementById('reviewform')
 form=new FormData(form)
 let review=form.get('review')
 let rating=form.get('rating')
 let productid='<%=product._id%>'
 console.log(productid)
 let res=await fetch(`/review?productid=${productid}&review=${review}&rating=${rating}`,{method:'POST'})
		let data=await res.json()
		console.log(data)
    if(data.err){
      Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: data.err,
  
})
    }
    if(data.created){
 let action=  await  Swal.fire({
  title: 'your review added succesfully',
  width: 600,
  padding: '3em',
  color: '#716add',

})
if(action.isConfirmed){
  window.location.href=`/singleProduct/${productid}`
}
    }
  }
</script>

  <script>
    const thumbnails = document.querySelectorAll('.thumbnail');
const mainImage = document.querySelector('.main-image img');

thumbnails.forEach((thumbnail) => {
  thumbnail.addEventListener('click', () => {
    mainImage.src = thumbnail.src;
    thumbnails.forEach((thumb) => {
      thumb.classList.remove('active');
    });
    thumbnail.classList.add('active');
    //imageZoom("myimage", "myresult");
  });
});

  </script>
  
<script>
//      function imageZoom(imgID, resultID) {
//   var img, lens, result, cx, cy;
//   img = document.getElementById(imgID);
//   result = document.getElementById(resultID);
//   /* Create lens: */
//   lens = document.createElement("DIV");
//   lens.setAttribute("class", "img-zoom-lens");
//   /* Insert lens: */
//   img.parentElement.insertBefore(lens, img);
//   /* Calculate the ratio between result DIV and lens: */
//   cx = result.offsetWidth / lens.offsetWidth;
//   cy = result.offsetHeight / lens.offsetHeight;
//   /* Set background properties for the result DIV */
//   result.style.backgroundImage = "url('" + img.src + "')";
//   console.log("url('" + img.src + "')")
//   result.style.backgroundSize = (img.width/2 * cx) + "px " + (img.height/2 * cy) + "px";
//   /* Execute a function when someone moves the cursor over the image, or the lens: */
//   lens.addEventListener("mousemove", moveLens);
//   img.addEventListener("mousemove", moveLens);
//   /* And also for touch screens: */
//   lens.addEventListener("touchmove", moveLens);
//   img.addEventListener("touchmove", moveLens);
//   function moveLens(e) {
//     var pos, x, y;
//     /* Prevent any other actions that may occur when moving over the image */
//     e.preventDefault();
//     /* Get the cursor's x and y positions: */
//     pos = getCursorPos(e);
//     /* Calculate the position of the lens: */
//     x = pos.x - (lens.offsetWidth / 2);
//     y = pos.y - (lens.offsetHeight / 2);
//     /* Prevent the lens from being positioned outside the image: */
//     if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
//     if (x < 0) {x = 0;}
//     if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
//     if (y < 0) {y = 0;}
//     /* Set the position of the lens: */
//     lens.style.left = x + "px";
//     lens.style.top = y + "px";
//     /* Display what the lens "sees": */
//     result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
//   }
//   function getCursorPos(e) {
//     var a, x = 0, y = 0;
//     e = e || window.event;
//     /* Get the x and y positions of the image: */
//     a = img.getBoundingClientRect();
//     /* Calculate the cursor's x and y coordinates, relative to the image: */
//     x = e.pageX - a.left;
//     y = e.pageY - a.top;
//     /* Consider any page scrolling: */
//     x = x - window.pageXOffset;
//     y = y - window.pageYOffset;
//     return {x : x, y : y};
//   }
// }



</script>
<script>
 async function addCart(event,id){
    event.preventDefault()
   let res=await fetch(`/addCart?q=${id}`,{method:'POST'})
   let data=await res.json();
   console.log(data);
   if(data.added){
    const click=await Swal.fire({
                  icon: 'success',
                  title: 'added to cart',
                  // text: "your order placed please continue shoping"
                })
          console.log(click)
          if(click.isConfirmed){
            window.location.href=`/singleProduct/${id}`
          }
   }
  }
</script>
<script>
  async function addWishList(event,id){
    event.preventDefault()
   let res=await fetch(`/addToWishlist?q=${id}`,{method:'POST'})
   let data=await res.json();
   console.log(data);
   if(data.added){
    const click=await Swal.fire({
                  icon: 'success',
                  title: 'added to wishlist',
                  // text: "your order placed please continue shoping"
                })
          console.log(click)
          if(click.isConfirmed){
            window.location.href=`/singleProduct/${id}`
          }
   }

  }
</script>


  <!--===============================================================================================-->

<!--===============================================================================================-->

<script>
    // document.getElementById('myimage').addEventListener('mouseenter',function(){
    //     document.getElementById('myresult').style.display='block'
    // })
    // document.getElementById('myimage').addEventListener('mouseleave',function(){
    //     document.getElementById('myresult').style.display='none'
    // })
</script>
<%-include('../user/layout/user-footer-layout.ejs') -%>