<%-include('../user/layout/user-header-layout.ejs') -%>

<style>
    .product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product-images {
  flex-basis: 50%;
}

.main-image {
  margin-bottom: 20px;
}

.main-image img {
  max-width: 100%;
  height: auto;
}

.thumbnail-images {
  display: flex;
  justify-content: flex-start;
}

.thumbnail {
  margin-right: 10px;
  border: 2px solid #ccc;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.thumbnail.active {
  border-color: #333;
  height: 100px;
  width: 100px;
}

.product-info {
  flex-basis: 45%;
}

.product-name {
  margin-bottom: 10px;
}

.product-rating {
  margin-bottom: 10px;
  font-weight: bold;
}

.product-price {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.product-description {
  margin-bottom: 20px;
}

.product-highlights {
  margin-bottom: 20px;
}

.product-highlights ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-highlights li {
  margin-bottom: 5px;
}

.zoom-box{
    position: relative;
}
.zoom-box img{
    vertical-align: bottom;
}
.zoom-box .zoom-selector{
    position: absolute;
    background-image: url("images/selector.png");
    background-repeat: repeat;
    display: none;
    cursor: crosshair;
}
.zoom-box .viewer-box{
    position: absolute;
    border: 1px solid rgb(239,237,240);
    display: none;
    overflow: hidden;
}
.zoom-box .viewer-box>img{
    position: absolute;
    left: 0;
    top: 0;
}
#img{
    width: 200px; 
    height: 150px;
}

</style>

</head>
<body>
    <div class="product-details">
        <div class="product-images">
          <div class="zoom-box">
          <div class="main-image">
            <img  src="/images/products/<%= product.images[0] %>" alt="Product Image">
            </div>
          </div>
          <div class="thumbnail-images">
            <img src="/images/products/<%= product.images[0] %>" alt="Thumbnail Image" class="thumbnail active" >
            <% product.images.forEach((x,i)=> { %>
                <% if (i > 0) { %>
                    
                  
            <img src="/images/products/<%= x %>" alt="Thumbnail Image" class="thumbnail">
            <% } %>
            <% }) %>
            
          </div>
        </div>
        <div class="product-info">
          <h1 class="product-name">Product Name</h1>
          <div class="product-rating">4.5/5 (125 reviews)</div>
          <div class="product-price">$49.99</div>
          <div class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper nulla eu ultrices pharetra. Duis vel ullamcorper eros. 
          </div>
          <div class="product-highlights">
            <ul>
              <li>High quality materials</li>
              <li>Easy to use</li>
              <li>Long lasting</li>
            </ul>
          </div>
        </div>
      </div>

      <div style="display: flex; justify-content: center;">
                                
        <form action="/addCart?q=<%=product._id%>" method="post">
            <button type="submit" class="btn btn-success btn-outline btn-lg" style="width: 200px;">Add to cart</button>
        </form>
    
    <form action="/addToWishlist?q=<%=product._id%>  " method="post">
        <button type="submit" class="btn btn-primary btn-outline btn-lg" style="width: 200px;"> Add to WishList</button>
    </form>

</div>
      
</body>
<script>
    // Get the main image element and thumbnail elements
const mainImage = document.querySelector('.main-image img');
const thumbnails = document.querySelectorAll('.thumbnail');

// Loop through each thumbnail and add a click event listener
thumbnails.forEach(thumbnail => {
  thumbnail.addEventListener('click', () => {
    // Remove the 'active' class from all thumbnails
    thumbnails.forEach(thumbnail => thumbnail.classList.remove('active'));
    // Add the 'active' class to the clicked thumbnail
    thumbnail.classList.add('active');
    // Change the src attribute of the main image to the clicked thumbnail's src attribute
    mainImage.src = thumbnail.src;
  });
});

$(function(){
  $('.main-image img').jqZoom({
    selectorWidth: 30,
    selectorHeight: 30,
    viewerWidth: 400,
    viewerHeight: 250
  });
})

</script>















<%-include('../user/layout/user-footer-layout.ejs') -%>