<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smart Shop</title>
     <!-- <link rel="icon" href="img/favicon.png"> -->
     <link rel="icon" type="image" href="/images/images.jpg"> 
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/user/css/bootstrap.min.css">
    <!-- animate CSS -->
	<link rel="stylesheet" href="/user/css/animate.css">
    <!-- owl carousel CSS -->
	<!-- <link rel="stylesheet" href="/user/css/owl.carousel.min.css"> -->
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/user/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/user/css/flaticon.css">
     <link rel="stylesheet" href="/user/css/themify-icons.css">
    <!-- font awesome CSS -->
    <!-- <link rel="stylesheet" href="/user/css/magnific-popup.css"> -->
    <!-- swiper CSS -->
    <!-- <link rel="stylesheet" href="/user/css/slick.css"> -->
    <!-- style CSS -->
    <link rel="stylesheet" href="/user/css/style.css">
    <!-- sweet allert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>


<body style="height:100vh ;">
	
	<header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"> <h1>smart shop</h1> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
								<li class="nav-item">
                                    <a class="nav-link" href="/allproductpage">shop</a>
                                </li>
                                <% if(user){ %>
                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/profile/<%=user._id%>" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Hi <%=user.username%>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="/profile/<%=user._id%>"> 
                                            profile
                                            
                                        </a>
                                        <a class="dropdown-item" href="/wishlist">WishList</a>
                                        <a class="dropdown-item" href="/orders">Orders</a>
                                        <a class="dropdown-item" href="/logout">log out</a>
                                    </div>
									
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="/cart/<%=user._id%>">
                                        <i class="flaticon-shopping-cart-black-shape"></i>(<%=user.cart.length%>)
                                    </a>
                                </li>
								<%}else{%>
                                <li class="nav-item">
									<a class="nav-link" href="/login">login</a>
								</li>
                                <% } %>

                                
                            
                            </ul>
                        </div>
                        
                    </nav>
                </div>
            </div>
        </div>

        
    </header>

	

	
		<!-- <nav  >

				<div class="navbar">
					<div class="logo">
						<div id><a href="/">Smart shop.</a></div>
					</div>
					<div class="navbar-links">
						<ul>
							
								<a href="/allproductpage">Shop</a>
															
							<li >
								<% if(user){ %>
									
									<a href="/cart/<%=user._id%>">Cart(<%=user.cart.length%>)</a>
									
										<a href="#" class><span><i class></i></span></a>
										
											
												<a href="/profile/<%=user._id%>">profile</a></li>
												<a href="/logout">Logout</a>
		
		
                                                														
										</ul>
										

									
		
									</li>
									<%}else{%>
									<a href="/login">login</a>
								    <ul class>
								    <% } %>
									
					
									
										
										
								</ul>
							</li>
							
								
						</ul>
					</div>
				</div>

			
		</nav>
	 -->